<div class="jumbotron jumbotron-fluid border rounded mb-3 p-3">
  <div class="container">
    <p class="lead"><%= @question %></p>
    <em class="text-muted">- You</em>
  </div>
</div>

<div class="jumbotron jumbotron-fluid jumbotron-answer bg-warning rounded mb-5 p-3">
  <div class="container">
    <p class="lead"><%= @answer %></p>
    <em class="text-muted">- Your coach</em>
  </div>
</div>

<%= link_to("Ask a new question", ask_path, class: "btn btn-primary") %>
